.no-bs h1,
.no-bs .headline {
    color: #e05929;
    font-family: 'Domine', 'serif';
    font-weight: 700;
}

.no-bs h1 {
    font-size: 72px;
}

.no-bs p {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
}

.no-bs .btn {
    background-color: #e05929;
    border-radius: 0;
    color: #fff;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    transition: all .3s ease-in-out;
    white-space: normal;
}

.no-bs .btn:hover {
    background-color: #001641;
}

.no-bs h1 {
    font-size: 52px;
}

.no-bs .container-fluid {
    padding: 0;
}

.section {
    padding: 60px;
}

.no-bs .headline {
    font-size: 36px;
}

.hero,
.service-container p {
    text-align: center;
}

.hero p {
    font-size: 18px;
}

.hero .row {
    padding-top: 60px;
}

.hero .btn {
    width: 100%;
}

.grey-bg {
    background-color: #ede9e6;
}

.hello,
.headline {
    text-align: center;
}

.hello p {
    font-size: 18px;
    padding-bottom: 15px;
}

.no-bs .hello a,
.service-container a {
    color: #e05929;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

.no-bs .hello a:hover,
.service-container a:hover {
    color: #001641;
}

.no-bs .service-container p {
    margin-bottom: 0;
}

.no-bs .service-container .headline {
    margin-bottom: 30px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

.service {
    display: flex;
    flex-basis: 100%;
    text-align: center;
}

.service p {
    color: #001641;
    font-weight: 700;
    font-size: 18px;
}

.service img {
    height: 35px;
    width: 35px;
}


@media (min-width: 768px) {
    .no-bs .btn {
        font-size: 16px;
    }

    .hello p {
        max-width: 525px;
        margin: 0 auto;
    }

    .service p {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .section {
        padding: 80px;
    }

    .no-bs h1 {
        font-size: 72px;
    }

    .no-bs .btn {
        padding: 15px 25px;
    }

    .hero p {
        font-size: 22px;
    }

    .hello p {
        max-width: 545px;
    }

    .service {
        flex-basis: auto;
        padding: 0 5px;
    }

    .service p {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    .no-bs .btn {
        font-size: 20px;
        padding: 15px 40px;
    }

    .workfront p {
        max-width: 440px;
    }

    .service {
        padding: 0 10px;
    }
}

@media (min-width: 1400px) {
    .no-bs .btn {
        font-size: 22px;
    }
}

@media (min-width: 1600px) {
    .no-bs .btn {
        padding: 15px 60px;
    }
}

@media (min-width: 1700px) {
    .no-bs .btn {
        padding: 15px 100px;
    }
}